/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.idea/vcs.xml
.idea/portfolio.iml
.idea/phpunit.xml
.idea/php.xml
.idea/modules.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/commandlinetools/Laravel_6_6_21__10_15_AM.xml
public/css/app.css
public/js/app.js
public/mix-manifest.json
public/images/header-bg.jpg
